/* landing footer sitemap */
.footer-sitemap {
    background: var(--brand);
    padding: 22px 24px 24px;
}

.footer-sitemap .row {
    --bs-gutter-x: 48px;
    --bs-gutter-y: 20px;
}

.footer-col-title {
    margin: 0 0 12px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    color: var(--white);
}

.sitemap-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sitemap-links li {
    margin-bottom: 8px;
    line-height: 1.2;
}

.sitemap-links li:last-child {
    margin-bottom: 0;
}

.sitemap-links a {
    color: var(--white);
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    display: inline-block;
}
.sitemap-links a:hover {
    text-decoration: underline;
}

.sitemap-links a:hover {
    opacity: 0.9;
}


/* landing footer */
.footer-bar {
    background: var(--brand-2);
    color: var(--white);
    padding: 18px 0 16px;
}

.footer-container {
    max-width: 100%;
    padding-left: 24px;
    padding-right: 20px;
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 22px;
}

.footer-top-left {
    display: flex;
    align-items: center;
    min-width: 0;
    flex: 1 1 auto;
    gap: 34px;
}

.powered-by {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    line-height: 1;
    flex-shrink: 0;
}

.powered-by img {
    height: 18px;
    width: auto;
    display: block;
}

.footer-links {
    /* display: flex; */
    align-items: center;
    flex-wrap: wrap;
    gap: 0;
    min-width: 0;
}

.footer-links a {
    color: var(--white);
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    display: inline-flex;
    align-items: center;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-links a+a::before {
    content: "|";
    margin: 0 18px;
    color: var(--white);
    font-size: 14px;
    font-weight: 300;
}

.footer-social {
    display: flex;
    align-items: center;
    gap: 22px;
    flex-shrink: 0;
    margin-left: 20px;
}

.footer-social a {
    color: var(--white);
    text-decoration: none;
    font-size: 24px;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* .footer-social .bi-linkedin {
    font-size: 24px;
}

.footer-social .bi-youtube {
    font-size: 30px;
} */

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.footer-copy,
.footer-address {
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    margin: 0;
}

.footer-copy {
    white-space: nowrap;
}

.footer-address {
    text-align: right;
    flex: 1 1 auto;
}