/* Stepper */
.stepper {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 76vh;
}

.step {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 8% 8px;
    border-radius: 12px;
    color: var(--grey-dark);
    font-weight: 600;
    font-size: 14px;
}

.step:hover {
    background: var(--white);
}

.dotwrap {
    width: 20px;
    height: 20px;
    position: relative;
    display: flex;
    justify-content: center;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--grey-line);
    background: var(--white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    flex-shrink: 0;
    font-size: 12px;
    color: var(--white);

}

.vline {
    position: absolute;
    top: 20px;
    width: 2px;
    height: 38px;
    background: var(--grey-line);
    border-radius: 2px;
}

.step:last-child .vline {
    display: none;
}

.step.active {
    color: var(--black);
}

.step.active .dot {
    border-color: var(--brand);
    box-shadow: 0 0 0 4px var(--brand);
    border-width: 1px;
}

.step.active .dot::after {
    content: "";
    position: absolute;
    inset: 4px;
    background: var(--brand);
    border-radius: 999px;
}

.step.completed {
    color: var(--black);
}

.step.completed .dot {
    background: var(--brand);
    border-color: var(--brand);
}

.step.completed .dot i {
    display: block;
    color: var(--white);
}

.step.completed .vline {
    background: var(--brand);
}

@media only screen and (max-width: 992px) {
    .stepper {
        display: flex;
        height: auto;
    }

    .stepper .step {
        display: grid;
        width: stretch;
        place-items: center;
        padding: 16px;
    }

    .stepper .step.active .stepper-text {
        display: block;
    }

    .vline {
        position: absolute;
        top: 10px;
        height: 2px;
        left: 20px;
        width: 14vw;
    }

    .helpbox {
        display: none;
    }

    .left-rail {
        border-right: 0px;
    }
}